# =========================
# Backend - Node / TS
# =========================
node_modules/
dist/
build/

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/*.db
prisma/migrations/**/migration_lock.toml

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
